.order{
    width: 100%;
    height: 500px;
    background: rgb(59, 34, 1);
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;

}
.order .your-order{
    width: 50%;
    height: 100%;
    margin-left: 90px;
}
.order .your-order h2{
    margin-top: 20px;
    color: white;
}
#thanks{
    margin-top: 60px;
    font-size: 20px;
}
.order .your-order .container3{
    width: 70%;
    height: 80%;
    background: aliceblue;
    border-radius: 5px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.56);
    margin-top: 25px;
}
.order .your-order .container3 .input-field{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px 0px;
    margin-left: 20px;   

}
.your-order .container3 .input-field label{
    color: black;
    font-size: 16px;
}
.your-order .container3 .input-field input{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
}
.your-order .container3 .input-field input::placeholder{
    color: black;
    font-weight: bold;
}
.your-order .container3 .btn{
    width: 80%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;   
}
.your-order .container3 .btn button{
    margin-left: 20px;
    padding: 4px 18px;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
}
.your-order .container3 .btn button:nth-child(1){
    background: green;
    color: white;
    border: 2px solid green;
    padding: 4px 35px;
    font-size: 17px;
}
.your-order .container3 .btn button:nth-child(2){
    background: red;
    color: white;
    border: 2px solid red;
    font-size: 17px;
}
.your-order .container3 .btn button:active:nth-child(1){
    background: white;
    color: green;
    border: 2px solid green;
}
.your-order .container3 .btn button:active:nth-child(2){
    background: white;
    color: red;
    border: 2px solid red;
}
.order .feedback{
    width: 50%;
    height: 100%;
    margin-left: 40px;
}
.order .feedback h2{
    color: white;
    margin-top: 20px;
}
.order .feedback .container4{
    width: 70%;
    height: 300px;
    background: aliceblue;
    margin-top: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0px;
}
.order .feedback .container4 p{
    margin-bottom: 30px;
    font-weight: bold;
}
.order .feedback .container4 .box{
    border: 2px solid black;
    border-radius: 4px;
    margin-left: 50px;
}
.order .feedback .container4 .box input{
    width: 75%;
    padding: 8px;
    outline: none;
    border: none;
}
.order .feedback .container4 .box button{
    width: 25%;
    padding: 8px;
    background: slateblue;
    color: white;
    cursor: pointer;
    font-weight: 600;
    outline: none;
    border: none;
}
.order .feedback .container4 p{
    margin-top: 10px;
    margin-left: 50px;
    font-size: 16px;
}